---
import PeriodicTable from "../components/PeriodicTable/PeriodicTable.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<PeriodicTable client:only="react" />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		background: #000;
	}
</style>
